/* Estilo para la página About */
.about-page {
    display: flex;
    justify-content: flex-start; /* Mantener la alineación de los elementos en fila */
    align-items: flex-start; /* Asegura que todo esté alineado al inicio */
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    flex-wrap: wrap; /* Permite que los elementos se ajusten si el espacio es pequeño */
  }
  
  .profile-info {
    flex: 1;
    text-align: left; /* Mantener el texto alineado a la izquierda */
    margin-right: 40px; /* Espacio entre la imagen y el texto */
  }
  
  .profile-image {
    width: 350px;
    height: 350px;
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 20px; /* Espacio debajo de la imagen */
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  .focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
  .profile-info p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .bio {
    font-size: 1.2rem;
    color: #bbb;
    margin-top: 20px;
    line-height: 1.6;
  }
  
  .bio:hover {
    color: #ccbfbf;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
  }
  
  .social-link i {
    margin-right: 8px;
    font-size: 1.5rem; /* Tamaño del ícono */
  }
  
  .social-link:hover {
    color: #4caf50;
  }
  .skills-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #5f5f5f;
  }
  
  .skills-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .skills-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .skills-bento {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .skills-box {
    background: #363434;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skills-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .skills-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .skills-box img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
  
  @media (max-width: 768px) {
    .about-page {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      text-align: center;
    }
  
    .profile-image {
      width: 200px;
      height: 200px;
      margin-left: 0; /* Eliminar espacio a la izquierda en pantallas pequeñas */
      margin-bottom: 20px;
    }
  
    .profile-info h1 {
      font-size: 2rem;
    }
  
    .profile-info p {
      font-size: 1rem;
    }
  
    .skills-section {
      margin-top: 20px; /* Ajustar el margen en pantallas más pequeñas */
    }
  }
  